@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #E4F2EF;
  color: #44464D;
  transition: background 0.3s, color 0.3s;
  margin-left: 20px;
  margin-right: 20px;
  margin: 0;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

[data-theme=dark] {
  background-color: #22262B;
  color: #E4F2EF;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}
.button.button-primary {
  background-color: #2AD4C0;
  color: white;
}
.button.button-primary:hover {
  background-color: rgb(33.5669291339, 169.4330708661, 153.4488188976);
}
.button.button-secondary {
  background-color: #748C9E;
  color: white;
}
.button.button-secondary:hover {
  background-color: rgb(91.656779661, 114.3347457627, 131.343220339);
}

@media (max-width: 480px) {
  body {
    text-align: center;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .back-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}
header .back-button img {
  width: 20px;
}

#pomodoro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
#pomodoro .pomodoro-container {
  width: 90%;
  height: 100vh;
  max-width: 400px;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
}
#pomodoro header {
  padding-bottom: 63px;
}
#pomodoro .titlle-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#pomodoro .titlle-logo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #44464D;
}
#pomodoro .timer-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#pomodoro .timer-settings .outter-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #2AD4C0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pomodoro .timer-settings .outter-circle .inner-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #44464D;
}
#pomodoro .timer-settings .settings-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 20px;
}
#pomodoro .timer-settings .settings-button img {
  width: 20px;
}
#pomodoro .buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#pomodoro .buttons button, #pomodoro .buttons input {
  width: 75%;
  height: 20%;
}

@media (max-width: 480px) {
  #pomodoro .timer-settings .outter-circle {
    width: 120px;
    height: 120px;
  }
  #pomodoro .timer-settings .outter-circle .inner-circle {
    width: 100px;
    height: 100px;
    font-size: 16px;
  }
  #pomodoro .buttons {
    flex-direction: column;
  }
}
footer {
  text-align: center;
  position: relative;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 0;
}
footer .streak {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  color: #AEF2B9;
  background-color: #44464D;
  border-radius: 20px 20px 0px 0px;
}
footer .streak img {
  width: 20px;
}

@media (max-width: 480px) {
  footer .streak {
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
