$dark-gray: #44464D;
$medium-gray: #748C9E;
$primary-color: #2AD4C0;
$light-bg: #E4F2EF;
$accent-green: #AEF2B9;
$dark-green: #388e3c;
$background-color: white;
$text-color: $dark-gray;
$error-color: #e84118;
$shadow-color: rgba(0, 0, 0, 0.1);
