@use "variables" as v;

.calendario {
    background-color: v.$back-color;
}

.header {
    display: flex;
    justify-content: right;
    padding: 10px;

    position: sticky;
    top: 0;
    background-color: v.$back-color;
}

.header-button {
    width: 1rem;
    height: 1rem;
    text-align: left;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    position: sticky;
    top: 36px;
    background-color: v.$back-color;
}

.nav-button {
    background-color: v.$button-color;
    border-radius: 15px;
    padding: 10px;
}

.nav-button-select {
    background-color: v.$hover-color;
    border-radius: 15px;
    padding: 10px;
}

.nav-button-t {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #AEF2B9;
    border-radius: 50%;
    text-align: center;
    height: 38px;
    width: 38px;
}

.nav-button-text {
    font-size: 1rem;
    color: #000;
    text-decoration: none;
}

.month-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
}

.month-nav-text {
    font-size: 1.2rem;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
    color: #000;
    text-decoration: none;
    flex-grow: 1;
}

.month-nav-text-select {
    flex-grow: 1;
    text-align: center;
}

.month-nav-select {
    font-size: 1.6rem;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: v.$hover-color;
    text-decoration: none;
}

.month-calendar {
    background-color: v.$section-color;
    border-radius: 25px 25px 0 0;
    min-height: 80vh;
    padding: 20px 10px;
}

.day-calendar {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;

    background-color: v.$item-color;
    border-radius: 10px;
    padding: 5px 5px;

    height: 120px;
    margin: 10px 0px;
}

.day-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 25%;
}

.day-week {
    text-align: left;
}

.day-text-text {
    text-align: left;
}

.day-month {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-decoration: none;
}

.day-tasks {
    
    padding: 10px;
    width: 50%;
}

.day-tasks-list {
    list-style-type: none;
    overflow-x: scroll;
    display: flex;
    padding: 0;
    
}

.day-create {
    
    width: 25%;
}


.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    font-size: 0.7rem;
    text-align: center;
    padding: 5px;

    border-left: #fff 1px solid;
    border-right: #fff 1px solid;
}

.task-date {
    text-decoration: none;
}

.task-text {
    text-overflow: ellipsis;
    height: 40px;
    max-height: 40px;
    width: 100%;
    overflow: hidden;
}

.task-value {

}

.day-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day-create-button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: v.$button-color;
    border-radius: 50%;
    padding: 10px;
    height: 30px;
    width: 30px;
}