@use 'variables' as v;

.crearTarea {
    background-color: v.$back-color;
    text-align: center;
}

.crearTarea-logo {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.crearTarea-titulo {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 20px;
}

.crearTarea-form {
    background-color: v.$section-color;
    border-radius: 15px 15px 0 0;
    min-height: 400px;
    text-align: center;
    padding: 40px 10px;
    min-height: 70vh;
}

.crearTarea-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crearTarea-input {
    background-color: v.$hover-color;
    color: #fff;
    width: 70%;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
}

.texto-error {
    color: red;
    font-size: 0.8rem;
}

.crearTarea-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    gap: 20px;
}

.crearTarea-button {
    all: unset;
    background-color: v.$button-color;
    border-radius: 15px;
    padding: 10px;
    width: 30%;
}