@use 'variables' as v;

@use 'calendario';

body {
    background-color: v.$back-color;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;

    min-width: 320px;
    max-width: 390px;
}