// Popup de notificación
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $bg-light;
    color: $text-light;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: $font-primary;
    border: 2px solid $border-light;
    width: 90%;
    max-width: 400px;
  
    button {
      background: $primary-light;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
  
      &:hover {
        background: darken($primary-light, 10%);
      }
    }
  }
  
  // Modo oscuro
  .dark-mode {
    .popup {
      background: $bg-dark;
      color: $text-dark;
      border: 2px solid $border-dark;
  
      button {
        background: $primary-dark;
  
        &:hover {
          background: lighten($primary-dark, 10%);
        }
      }
    }
  }
  
  // Clase para ocultar el popup
  .hidden {
    display: none;
  }
  
  // Responsividad
  @media (max-width: $mobile) {
    .popup {
      width: 95%;
    }
  }